:root  {
  --themeColor: #50ff50;
  --darkThemeColor: #204420;
  --transparentThemeColor: rgba(80, 255, 80, 0.3137254902);
  --introDisplay: none; /* Either none or inherit */
  --background: black;
  --linkColor: #00ffaa;
  --visitedLinkColor: #00dd88;
  --disabledLinkColor: #bbbbbb;
}
@font-face {
  font-family: "Fixedsys Excelsior";
  src: url(FSEX300.ttf);
}
@keyframes intro-main {
  0% {
    color: transparent;
  }
  80% {
    background-color: var(--themeColor);
  }

  100% {
    display: none;
    color: transparent;
    background-color: transparent;
    visibility:hidden;
  }
}
@keyframes intro-items {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes intro-loading {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
    display: none;
    width: 0;
  }
}
body, html {
  margin: 0px;
  padding: 0px;
  font-family: "Fixedsys Excelsior";
}

body {
  background-color: var(--background);
  color: var(--themeColor);
}

h1, .title {
  font-size: xx-large;
  color: black;
  text-shadow: 1px 1px var(--themeColor), 0px 0px 2px var(--themeColor), 0px 0px 10px var(--transparentThemeColor);
}

.title-link {
  font-size: xx-large;
  color: black;
  text-shadow: 1px 1px var(--linkColor), 0px 0px 2px var(--linkColor), 0px 0px 10px var(--transparentThemeColor);
}

p {
  text-shadow: 0px 0px 4px var(--themeColor);
}

a {
  text-shadow: 0px 0px 4px var(--linkColor);
  color: var(--linkColor);
}
a:visited {
  text-shadow: 0px 0px 4px var(--visitedLinkColor);
  color: var(--visitedLinkColor);
}

.disabled-link {
  text-shadow: 0px 0px 4px var(--disabledLinkColor);
  color: var(--disabledLinkColor);
}


.header {
  padding: 5px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(0,var(--darkThemeColor),var(--background));
}
.header :first-child {
  flex: 1 1 auto;
}
.header * {
  margin: 20px;
}
.header * * {
  margin: 0px;
  padding: 0px;
}
.header-links * {
  font-size: larger;
  margin: 20px;
  display: inline;
}

.content {
  margin: 20px;
}


.no-newline {
  display: inline;
}



.intro {
  animation-name: intro-main;
  animation-delay: 3.8s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: var(--background);
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 20px;
  position: absolute;
  top: 0px;
  display: var(--introDisplay);
}
.intro-list {
  list-style-type: none;
}

.intro-list li {
  animation-name: intro-items;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.intro-list li span {
  animation-name: intro-loading;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}



.intro-list li:nth-child(1) {animation-delay: 0.5s;}
.intro-list li:nth-child(2) {animation-delay: 2.0s;}
.intro-list li:nth-child(3) {animation-delay: 2.1s;}

.intro-list li span:nth-child(1) {animation-delay: 2.2s;}
.intro-list li span:nth-child(2) {animation-delay: 2.3s;}
.intro-list li span:nth-child(3) {animation-delay: 2.4s;}
.intro-list li span:nth-child(4) {animation-delay: 2.5s;}
.intro-list li span:nth-child(5) {animation-delay: 2.6s;}
.intro-list li span:nth-child(6) {animation-delay: 2.7s;}
.intro-list li span:nth-child(7) {animation-delay: 2.8s;}
.intro-list li span:nth-child(8) {animation-delay: 2.9s;}
.intro-list li span:nth-child(9) {animation-delay: 3s;}
.intro-list li span:nth-child(10) {animation-delay: 3.1s;animation-name: intro-items;}

.intro-list li:nth-child(5) {animation-delay: 3.6s;}